body {
  background-color: #dddddd;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  text-align: center;
  font-size: 42px;
  color: #242424;
  padding-bottom: 15px;
  width: 100%;
  border-bottom: 1px solid #929292;
}