.alertWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  padding: 0 20px;
  border-radius: 5px;
  margin-bottom: 10px;
  max-width: 1600px;
  font-weight: 600;
}

.displayNone {
  display: none;
}

.warning {
  background-color: #e8b92b92;
  border: 2px solid #edcc27;
}

.dismissButton {
  color: #00000065;
  transition: .2s;
  padding: 8px;
  margin-right: 15px;
  border-radius: 100%;
}

.dismissButton:hover {
  color: #000000cc;
  background-color: #e8b92b92;
}