.form {
  align-items: center;
  display: flex;
  color: #897b63;
  flex-direction: column;
  align-items: center;
  max-width: 500px;
  margin-bottom: 50px;
  padding: 20px 100px;
}

.formTitle {
  font-size: 32px;
}

.fileInput {
  margin-bottom: 20px;
}

.submitFileBtn {
  font-size: 15px;
  align-self: stretch;
  border: none;
  border-radius: 5px;
  padding: 8px;
  background-color: #d4b375;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}

.popOverMessage {
  padding: 8px 150px;
  border-radius: 5px;
  font-weight: 600;
}

.popOverError {
  background-color: #c14f3db3;
  border: 2px solid #c14f3d;
  color: #dfdfdf;
}

.popOverSuccess {
  background-color: #53c13dac;
  border: 2px solid #1c8707;
}