.fileList {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 90%;
  max-width: 1600px;
}

.fileList td, th {
  text-align: left;
  padding: 12px 8px;
}

.fileList td {
  border-top: 1px solid #929292;
}

.fileList tr:nth-child(even) {
  background-color: #d4b37576;
}

.downloadBtn {
  font-size: 15px;
  border: none;
  background-color: #8ccc33;
  color: #eeeeee;
  border-radius: 5px;
  padding: 5px 8px;
  cursor: pointer;
  transition: .2s;
}

.downloadBtn:hover {
  background-color: #7eb137;
}

.downloadBtn * {
  margin: 0 5px;
}